<%- include('partials/header') -%>

<div class="greetings">
  <div class="navbar">
    <div class="container" style="text-align: center;">      
      <div class="input-group mb-3">
        <input style="max-width: 25%;" type="text" class="form-control" placeholder="Search for an event..." aria-label="Recipient's username" aria-describedby="basic-addon2">
        <div class="input-group-append" onclick="searchByKeyword()">
          <span class="input-group-text" id="basic-addon2">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
              <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
            </svg>
          </span>
        </div>
      </div>
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Sort by
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Title</a>
          <a class="dropdown-item" href="#">Event Head</a>
          <a class="dropdown-item" href="#">Date (Ascending)</a>
          <a class="dropdown-item" href="#">Date (Descending)</a>
        </div>
      </div>
      <h3 class="card-title">Events</h3>
      <div class="card-deck event-items" style="margin-bottom: 3rem !important;">
        <!-- Card -->
        <% defaultEvents.forEach((event) => { %>
        <div class="card new-card-style">
          <img class="card-img-top" src="<%= event.photoLink %>" alt="event-banner">
          <div class="card-body">
            <h5 class="card-title"><%= event.title %></h5>
            <p class="card-text"><%= event.description %></p>
          </div>
          <div class="card-footer">
            <small class="text-muted"><%= event.hostName %></small>
          </div>
        </div>
        <% }) %>
      </div>
    </div>
  </div>
</div>
<script src="scripts/script.js"></script>
</body>
</html>